<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uptoser.spring.boot.learning.mybatis.mapper.RoleMapper">

    <resultMap type="com.uptoser.spring.boot.learning.mybatis.entities.Role" id="roleMap">
<!--        <id column="id" property="id" />-->
<!--        <result column="role_name" property="roleName" />-->
<!--        <result column="note" property="note" />-->
        <collection property="users" column="id"
                    select="com.uptoser.spring.boot.learning.mybatis.mapper.UserMapper.getUsersByRoleId" />
    </resultMap>
</mapper>
